Source: smartmontools
Section: utils
Priority: optional
Standards-Version: 4.7.2
Maintainer: Dmitry Smirnov <onlyjob@debian.org>
Uploaders: Florian Maier <contact@marsmenschen.com>,
           Jonathan Dowland <jmtd@debian.org>,
Build-Depends: autoconf,
               automake,
               debhelper-compat (= 13),
               freebsd-glue [kfreebsd-any],
               libcam-dev [kfreebsd-any],
               libcap-ng-dev [linux-any],
               libselinux1-dev [linux-any],
               libusb2-dev [kfreebsd-any],
               libsystemd-dev [linux-any],
               pkgconf,
Vcs-Git: https://salsa.debian.org/debian/smartmontools.git
Vcs-Browser: https://salsa.debian.org/debian/smartmontools
Homepage: https://www.smartmontools.org/
Rules-Requires-Root: no

Package: smartmontools
Architecture: any
Conflicts: smartsuite, ucsc-smartsuite
Pre-Depends: ${misc:Pre-Depends}
Depends: debianutils (>= 2.2),
         sysvinit-utils (>= 3.05-4~),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: ${misc:Recommends}
Suggests: gsmartcontrol, smart-notifier
    ,mailx | mailutils
# update-smart-drivedb
    ,curl | wget | lynx, gpg
Breaks: smart-notifier (<= 0.28-8)
Description: control and monitor storage systems using S.M.A.R.T.
 The smartmontools package contains two utility programs (smartctl and smartd)
 to control and monitor storage systems using the Self-Monitoring, Analysis and
 Reporting Technology System (S.M.A.R.T.) built into most modern ATA and SCSI
 hard disks. It is derived from the smartsuite package, and includes support
 for ATA/ATAPI-5 disks. It should run on any modern Linux system.
